.main-icon {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 25px;
  z-index: 99;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  border-radius: 0px;
}

container {
  overflow: hidden;
}

.content-container {
  padding: 0px;
}

.footer li {
  float: left;
}

.footer_list li {
  float: none;
  padding-bottom: 10px;
}

.footer_list li a {
  text-decoration: none;
  color: black;
}

.footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  background-color: #68787256;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-section {
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer-links-section {
  width: 100%;
  padding-top: 20px;
}
.footer-copyright-mobile {
  display: block;
}
.footer-copyright-desktop {
  display: none;
}
.footer-img {
  align-self: center;
}

.hide-mobile {
  display: none;
}

@media (min-width: 1400px) {
  .container {
    width: 1200px;
    margin: auto;
  }

  .main-icon {
    right: calc(((100% - 1200px) / 2) - 75px);
  }
}

@media (min-width: 900px) {
  .main-icon {
    display: block;
  }
  .container {
    padding: 0px 100px;
    overflow: hidden;
  }
  .content-container {
    padding: 0px;
    overflow: visible;
    margin-top: 70px;
  }
}

@media (min-width: 600px) {
  .footer {
    text-align: left;
    background-color: transparent;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
  }
  .footer-section {
    width: 50%;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
  }
  .footer-links-section {
    width: 50%;
    padding-top: 0px;
  }
  .footer-copyright-mobile {
    display: none;
  }
  .footer-copyright-desktop {
    display: block;
  }
  .footer-img {
    align-self: flex-start;
  }

  .content-container {
    padding: 10px 10px;
  }

  .hide-mobile {
    display: block;
  }
}

@media (max-width: 900px) {
  .content-container {
    overflow: hidden;
  }
}
